{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">
        Apply Leave
    </h2>


    <div class="card shadow-sm">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}


                <div class="mb-3">

                    <label class="form-label">
                        Leave Type
                    </label>

                    <select
                        name="leave_type"
                        class="form-select"
                        required
                    >

                        <option value="">
                            Select Leave Type
                        </option>

                        {% for value, label in leave_types %}

                            <option value="{{ value }}">
                                {{ label }}
                            </option>

                        {% endfor %}

                    </select>

                </div>


                <div class="row">

                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            Start Date
                        </label>

                        <input
                            type="date"
                            name="start_date"
                            class="form-control"
                            required
                        >

                    </div>


                    <div class="col-md-6 mb-3">

                        <label class="form-label">
                            End Date
                        </label>

                        <input
                            type="date"
                            name="end_date"
                            class="form-control"
                            required
                        >

                    </div>

                </div>


                <div class="mb-3">

                    <label class="form-label">
                        Reason
                    </label>

                    <textarea
                        name="reason"
                        class="form-control"
                        rows="4"
                        required
                    ></textarea>

                </div>


                <button
                    type="submit"
                    class="btn btn-primary"
                >
                    Apply Leave
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}
